.bg-container {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 1440px;
    display: flex;
    justify-content: center;
}

.responsive-container {
    width: 1274px;
    display: flex;
    flex-direction: column;
    align-items: center;
}