.when-where-bg-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.when-where-heading {
    font-family: Sail;
    font-weight: 400;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;

}

.when-where-list-container {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.when-where-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
}

.when-where-bg-frame {
    background-image: url("https://res.cloudinary.com/dpzsoiz1l/image/upload/v1750340761/c34d526e2f8adbdeb9282f6767b590f848cdfdbc_ejkcba.png");
    background-size: cover;
    width: 430px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.when-where-couples-pic {
    width: 316px;
    height: 386px;
}

.when-where-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.when-where-ceremony {
    font-family: Sail;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

.when-where-date-time {
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #C8A898;
}

.when-where-place {
    font-family: Jost;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #5C5C5C;
}

.map iframe {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1120px;
    height: 231px;
    border-radius: 20px;

}