.rsvp-bg-container {
    width: 1318px;
    height: 705px;
    background-image: url("https://res.cloudinary.com/dpzsoiz1l/image/upload/v1750343934/a86d9db64e5189a291f54be9ece2f5a2332cb6ab_vj1pkk.png");
    background-size: cover;
    padding: 5%;
}

.rsvp-form {
    width: 545px;
    height: 599px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.form-heading {
    font-family: "Sail";
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    margin-top: 0;
    margin-bottom: 35px;
}

.form-label {
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5C5C5C;
    margin-bottom: 0;
}

.form-input {
    border: none;
    border-bottom: 1px solid #BDBEBC;
    margin-bottom: 15px;
    cursor: pointer;
    outline: none;
}

.rsvp-button {
    margin-top: 20px;
    width: 141px;
    height: 43px;
    background-color: #586245;
    border: none;
    font-family: Jost;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;

}